<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Dotify Information Page</title>
</head>
<body class="bg-light">

  <!-- As a heading -->
  <nav class="navbar bg-body-secondary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Dotify Information Page</span>
    </div>
  </nav>
  <div class="" style="height: 50px; background-color: rgb(63, 61, 61);">
    <h2 class="text-light" style="display: flex; justify-content: center; justify-self: center;">User</h2>

  </div>
    <table class="table table-secondary" style="height: 150px;">
        <thead class="text-black">
            <tr>
              <th scope="col">Route - Post(login)</th>
              <th scope="col">Route - Get(user)</th>
              <th scope="col">Route - Put(user)</th>
              <th scope="col">Route - Post(user)</th>
              <th scope="col">Route - Delete(user)</th>
            </tr>
          </thead>
          <tbody class="text-black">
            <tr>
              <td scope="row">Used to login in</td>
              <td>Used to fetch users</td>
              <td>Used to update user</td>
              <td>Used to add/register a new user</td>
              <td>Used to delete user details by user id</td>
            </tr>
            </tr>
          </tbody>
      </table>
      <div class="" style="height: 50px; background-color: rgb(63, 61, 61);">
        <h2 class="text-light" style="display: flex; justify-content: center; justify-self: center;">Products</h2>
    
      </div>

    <table class="table table-secondary" style="height: 150px;">
      <thead class="text-black">
          <tr>
            <th scope="col">Route - get(products)</th>
            <th scope="col">Route - get(product)</th>
            <th scope="col">Route - Post(product)</th>
            <th scope="col">Route - Put(product)</th>
            <th scope="col">Route - Delete(product)</th>
          </tr>
        </thead>
        <tbody class="text-black">
          <tr>
            <td scope="row">Fetches all products</td>
            <td>Gets a single specific product by Id</td>
            <td>Used to add a product</td>
            <td>Used to update a product</td>
            <td>Used to delete a product</td>
          </tr>
          </tr>
        </tbody>
    </table>
  </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>